<!DOCTYPE>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
        <title>Webby mcwebpage</title>
    </head>
    <body>
        <h1>hello</h1>
        <form method="POST" action="/send" >
            <p>
                <label>Name</label>
                <input type="text" name="charName">
            </p>
            <p>
                <label>Stat One</label>
                <input type="text" name="statOne">
            </p>
            <p>
                <label>Stat One</label>
                <input type="text" name="statTwo">
            </p>
            <p>
                <label>Stat One</label>
                <input type="text" name="damage">
            </p>
            <input type="submit" />
        </form>
    </body>
</html>
